<footer class="content-footer footer bg-footer-theme">
    <div class="container-xxl d-flex flex-wrap justify-content-between py-3 flex-md-row flex-column">
        <div class="mb-2 mb-md-0">
            پیاده سازی شده توسط مدیریت فناوری اطلاعات و شبکه ارتباطات

            <a href="https://jansnak.com/" target="_blank" class="footer-link fw-semibold">‌جان اسنک</a>
        </div>
        <div>
            <a href="https://jansnak.com/portal/" class="footer-link me-4" target="_blank">پلتفرم جان</a>
            <a href="https://jansnak.com/home/download" target="_blank" class="footer-link me-4">دانلود اپلیکیشن</a>

            <a href="https://superapp.jansnak.com/nearBranch" target="_blank" class="footer-link me-4">شعب یاب جان</a>

        </div>
    </div>
</footer>