@model List<Application.ViewModel.PosViewModels.PosViewModel>
@{
    ViewData["Title"] = "خرید اعتباری از تارا";
}

<div class="row">
    

    @foreach (var item in Model)
    {
        <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-6 mb-4">
            <a asp-controller="Home" asp-action="Pos" asp-route-terminal="@item.terminalCode">
            <div class="card">
                <div class="card-body text-center">
                    <div class="avatar avatar-md mx-auto mb-3">
                        <span class="avatar-initial rounded-circle bg-label-warning">
                            <i class="bx bx-cart fs-3"></i>
                        </span>
                    </div>
                    <span class="d-block mb-1 text-nowrap">@item.terminalTitle</span>
                  
                </div>

            </div></a>
        </div>
    }


</div>

@section Script {
    <script src="~/js/Home/Home.js" asp-append-version="true"></script>
}