<nav class="layout-navbar navbar navbar-expand-xl align-items-center bg-navbar-theme" id="layout-navbar">
    <div class="container-xxl">
        <div class="navbar-brand app-brand demo d-none d-xl-flex p-5 me-4">
            <a href="/" class="app-brand-link gap-2">
               <img src="~/img/jansnack-logo.jpg" width="60" height="60"/>
              
            </a>
        </div>

       
    </div>
</nav>
